body {
  background-color: rgb(126, 2, 241);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100% !important; 
  height: 100% !important;
}

/* This finally solved the game container not taking up the full height of the screen */
body > #root > div {
  height: 100vh;
}

html, body, #root {
  /* background-color:orange; */
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.AnimationWrapper{
  display: block;
  background-color: rgba(76,175, 150, 0);
  height: 100%;
  width: 100%;
  margin-top: 7%;
}

.AnimationSlider{
  position:relative;
  background-color: green;
  background-Image: radial-gradient( #ffd901, #ec5d0a);
  box-shadow:2px;
  padding: 1vh 1.5vw 1.5vw;
  width:10vw;
  opacity:1.5;
  font-size: 1.3vw;
  font-family: monospace;
  font-weight: 550;
  display: flex;
  flex-direction: column;
  border: 0.2vw solid #03a16d;
  border-radius: 3px;
  /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}
.AnimationSlideInLeft{
  animation: slideInLeft 5s ease-in 1s normal both;
}

.AnimationSlideOutLeft{
  animation: slideOutLeft 5s ease-out normal both;
}

.AnimationSlideInRight{
  animation: slideInRight 5s ease-in 1s normal both; 
}

.AnimationSlideOutRight{
  animation: slideOutRight 5s ease-out normal both;
}

@keyframes slideInLeft{
  0%{transform: translateX(0%)}
  50%{transform: translateX(237.5%)}
  52%   { transform: scale(1,1)      translateX(237.5%);}
  57%  { transform: scale(.9,1.1)   translateX(237.5%);}
  65%  { transform: scale(1.1,.9)   translateX(195%);}
  75%  { transform: scale(.95,1.05) translateX(237.5%);}
  78%  { transform: scale(1,1)      translateX(200%);}
  82%  { transform: scale(1,1)      translateX(237.5%);}
  100% { transform: scale(1,1)      translateX(237.5%);}
}

@keyframes slideInRight{
  0%{transform: translateX(0%)}
  50%{transform: translateX(-237.5%)}
  52%   { transform: scale(1,1)      translateX(-237.5%);}
  57%  { transform: scale(.9,1.1)   translateX(-237.5%);}
  65%  { transform: scale(1.1,.9)   translateX(-195%);}
  75%  { transform: scale(.95,1.05) translateX(-237.5%);}
  78%  { transform: scale(1,1)      translateX(-200%);}
  82%  { transform: scale(1,1)      translateX(-237.5%);}
  100% { transform: scale(1,1)      translateX(-237.5%);}
}

@keyframes slideOutLeft{
  0%{transform: translateX(237.5%)}
  100%{transform: translateX(0%)}
}

@keyframes slideOutRight{
  0%{transform: translateX(-237.5%)}
  100%{transform: translateX(0%)}
}

.AttackAnimationLeft{
  animation:  attackLeft 5s ease-in-out 1ms normal both;
}
.AttackAnimation1Left{
  animation:  attack1Left 5s ease-in 1ms normal both;
}

.AttackAnimationRight{
  animation: attackRight 5s cubic-bezier(0.280, 0.840, 0.420, 1) 1ms normal both;
}
.AttackAnimation1Right{
  animation:  attack1Right 5s cubic-bezier(0.280, 0.840, 0.420, 1) 1ms normal both;
}

/*.TakeDamageAnimation{
  animation: name duration timing-function delay iteration-count direction fill-mode;
}*/

@keyframes attackLeft {
  0%   { transform: scale(1,1)      translateX(237.5%);}
  10%  { transform: scale(.9,1.1)   translateX(237.5%);}
  30%  { transform: scale(1.1,.9)   translateX(195%);}
  50%  { transform: scale(.95,1) translateX(237.5%);}
  57%  { transform: scale(1,1)      translateX(200%);}
  64%  { transform: scale(1,1)      translateX(237.5%);}
  100% { transform: scale(1,1)      translateX(237.5%);}
}
@keyframes attackRight {
  0%   { transform: scale(1,1)      translateX(-237.5%);}
  10%  { transform: scale(.9,1.1)   translateX(-237.5%);}
  30%  { transform: scale(1.1,.9)   translateX(-195%);}
  50%  { transform: scale(.95,1) translateX(-237.5%);}
  57%  { transform: scale(1,1)      translateX(-200%);}
  64%  { transform: scale(1,1)      translateX(-237.5%);}
  100% { transform: scale(1,1)      translateX(-237.5%);}
}

@keyframes attack1Left {
  0%   { transform: scale(1,1)      translateX(237.5%);}
  10%  { transform: scale(.9,1.1)   translateX(237.5%);}
  30%  { transform: scale(1.1,.9)   translateX(195%);}
  50%  { transform: scale(.95,1) translateX(237.5%);}
  57%  { transform: scale(1,1)      translateX(200%);}
  64%  { transform: scale(1,1)      translateX(237.5%);}
  100% { transform: scale(1,1)      translateX(237.5%);}
}
@keyframes attack1Right {
  0%   { transform: scale(1,1)      translateX(-237.5%);}
  10%  { transform: scale(.9,1.1)   translateX(-237.5%);}
  30%  { transform: scale(1.1,.9)   translateX(-195%);}
  50%  { transform: scale(.95,1) translateX(-237.5%);}
  57%  { transform: scale(1,1)      translateX(-200%);}
  64%  { transform: scale(1,1)      translateX(-237.5%);}
  100% { transform: scale(1,1)      translateX(-237.5%);}
}
