<html>
    <head>
        <style>
            .wrapper{
                display: flex;
                flex-wrap: wrap;
                padding: 10px;
                justify-content: center;
                position: absolute;
                background-color: yellow;
                align-items: center;

            }
            .playerImage{
                display:flex;
                flex-wrap: wrap;
                padding: 30px;   
                justify-content: center ;         }
        
        </style>
    </head>
    <body>
       <div>
           <!--Start menu-->
           <p>Start menu</p>
       </div> 
        <div class='wrapper'>
            <div>
                <input type="text" placeholder="Enter Your Name" />
            </div>
            <div class='playerImage' >
                <img src="http://loremflickr.com/100/100" alt="Player Select Option #1"/>
            </div>
            <div class='playerImage' >
                <img src="http://loremflickr.com/100/100" alt="Player Select Option #1" />
            </div>
            <div class='playerImage' >
                <img src="http://loremflickr.com/100/100" alt="Player Select Option #1" />
            </div>
            <div class='playerImage' >
                <img src="http://loremflickr.com/100/100" alt="Player Select Option #1" />
            </div>
            <div class='playerImage' >
                <img src="http://loremflickr.com/100/100" alt="Player Select Option #1" />
            </div>
            <div>
                <img src="http://loremflickr.com/100/100" alt="Player Select Option #1" />
            </div>
        </div>
    
    </body>
</html>